extends layout 

block content 
    .mid
        .items
            .bgM-1
            .txt-1
                p  FRIZZ-FREE DETANGLED COMPLETE HAIR EXPERIENCE
                    h3 RS 3500 RS
                    button ADD TO CART
        .items
            .bgM-2
            .txt-1
                p  TVAL HAIR SERUM AND HAIR MIST
                    h3 RS 2750 RS
                    button ADD TO CART
        .items
            .bgM-3
            .txt-1
                p  TVAL-DEEP NOURISHING HAIR MASK
                    h3 RS 2280 RS
                    button ADD TO CART
        .items
            .bgM-4
            .txt-1
                p  TVAL HAIR SHAMPOO
                    h3 RS 3500 RS
                    button ADD TO CART
        .items
            .bgM-5
            .txt-1
                p  TVAL HAIR CONDITIONER
                    h3 RS 1750 RS
                    button ADD TO CART