extends layout
block content
    #carousel.carousel.slide(data-bs-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='./images/ramadanimage.webp' alt='...')
          .carousel-item
            img.d-block.w-100(src='./images/headerimage.webp' alt='...')
          .carousel-item
            img.d-block.w-100(src='./images/budgedeal.webp' alt='...')
          .carousel-item
            img.d-block.w-100(src='./images/deal5.webp' alt='...')
          .carousel-item
            img.d-block.w-100(src='./images/freegoodies.webp' alt='...')
        button.carousel-control-prev(type='button' data-bs-target='#carousel' data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carousel' data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next
    .mid
        .items
            .bg-1
            .txt-1
                p  CHOOSE ANY 5 PRODUCTS IN RS.4000/-
                    h3 BUGDET BOX
                    button BUY ANY 5 PRODUCTA IN RS.4000/-
        .items
            .bg-2
            .txt-1
                p UP TO 70% OFF ON
                    h3  PREP &amp; PRIME COLLECTION
                    button VIEW PRODUCTS
        .items
            .bg-3
            .txt-1
                p UP TO 70% OFF ON
                    h3 ON 24K GOLD &amp; ROSES DEAL
                    button BUY ANY 4 ITEM FOR RS.5400/-
        .items
            .bg-4
            .txt-1
                p UP TO 70% OFF ON
                    h3 FLORENCE V2 COLLECTION
                    button BUY 4 PRODUCTS IN PKR.6500/- ONLY
        .items
            .bg-5
            .txt-1
                p UP TO 70% OFF ON
                    h3 BERRY COLLECTION
                    button  BUY COMPLETE DEAL IN RS.5400/-
        .items
            .bg-6
            .txt-1
                p BUNDLE OFFER
                    h3 FACE PRO RADIANT DEAL
                    button BUY ALL PRODUCTS FOR RS.6325/-
        .items
            .bg-7
            .txt-1
                p BUNDLE OFFER
                    h3 FACE PRO LUMINOUS DEAL
                    button BUY ALL PRODUCTS FOR RS.6325/-
        .items
            .bg-8
            .txt-1
                p BUNDLE OFFER
                    h3 PACK OF 5 LIPSTICKS
                    button BUY 5 LIPSTICKS IN RS.4000/-
        .items
            .bg-9
            .txt-1
                p BUNDLE OFFER
                    h3 BUDGET BOX SKINCARE DEAL
                    button  GET ANY 5 PRODUCTS IN RS.2800/-
        .items
            .bg-10
            .txt-1
                p PREMIUM MAKEUP
                    h3 BEBEAUTY FACE PRO MAKEUP DEAL
                    button CHOOSE ANY 4 PRODUCTS IN RS.6000/-
        .items
            .bg-11
            .txt-1
                p FRIZZ FREE
                    h3 HAIRCARE DEAL
                    button BUY HAIRCARE SOLUTION IN PKR.6500/-
    #featured  FEATURED COLLECTIONS
        h3 WHAT'S NEW
    .bottom
        .items
            .bgg-1
                .txt-1 FACE 
                    button VIEW PRODUCTS
        .items
            .bgg-2
                .txt-1 EYES 
                    button VIEW PRODUCTS
        .items
            .bgg-3
                .txt-1 LIPS
                    button VIEW PRODUCTS
        .items
            .bgg-4
                .txt-1 CHEEKS
                
                    button VIEW PRODUCTS
        .items
            .bgg-5
                .txt-1 MASCARA
                
                    button VIEW PRODUCTS
        .items
            .bgg-6
                .txt-1 BRUSHES
                
                    button VIEW PRODUCTS
        .items
            .bgg-7
                .txt-1 SKINCARE
                
                    button VIEW PRODUCTS
        .items
            .bgg-8
                .txt-1 HAIRCARE
                
                    button VIEW PRODUCTS
        .items
            .bgg-9
                .txt-1 PREMIUM MAKEUP RANGE
                
                    button VIEW PRODUCTS
    div(style='background-color: white; text-align: center; font-size: xx-large;') #BBABYSULEMAN
    .row
        .col-xl-2
            a(href='https://www.instagram.com/p/C4aYIpCIOrH/')
                img.inst(src='./images/ramadanimage.webp' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C4SNs3FIST4/')
                img.inst(src='./images/i2.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C4NK0VKAtHd/')
                img.inst(src='./images/i3.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C4F-owXIK1N/')
                img.inst(src='./images/i4.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C4A7XOZI-zS/')
                img.inst(src='./images/i5.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C37r2p9tGjg/')
                img.inst(src='./images/i6.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C32cd6Bo67u/')
                img.inst(src='./images/i7.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C3sNloGoqA5/')
                img.inst(src='./images/i8.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C3pTelnsnlY/')
                img.inst(src='./images/i9.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C3h-MFGNyjD/')
                img.inst(src='./images/i10.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C3cl9UHtVei/')
                img.inst(src='./images/i11.jpg' alt='')
        .col-xl-2
            a(href='https://www.instagram.com/p/C3X6r-3NutU/')
                img.inst(src='./images/i12.jpg' alt='')
    .trans
        .centr Your Story 
            br
            | BBA by Suleman is one of the largest cosmetic brand of Pakistan with wide range of premium quality makeup products to provide the best value for money to the customers, Influencers and Makeup artists globally.
    .news NEWSLETTER 
        span A short sentence describing what someone will receive by subscribing 
        input(type='text' placeholder='Entet your email address')
        button#sub SIGNUP
        form(action='/action_page.php')
            input#privay(type='checkbox' name='privacy' value='Privacy')
            label(for='privacy') I have read and agree to the terms of service and privacy policy and agree to receive emails.