.main{
    background-image: url(./images/i5.jpg);
    z-index: -10;
}
#storiesList{
    background-color: rgba(241, 157, 88, 0.3);
}
.mb-4{
    position: sticky;
    top:0;
}
/* #storiesList:hover{
    background-color:rgb(212, 120, 120,0.3);
} */
.mb-3:hover{
    background-color: rgb(212, 120, 120,0.3);
}