
p{
    text-align: center;
    margin: auto;
    width: 50%;

}

.first{
    height: 35px;
    padding: 5px;
}

#log{
    float: right;
    width: 10%;
    background-color: antiquewhite;
    padding-bottom: 73px;
}
#search{
    float: right;
    width: 10%;
    background-color: blue;
    padding-bottom: 73px;
}
#cart{
    float: right;
    width: 10%;
    background-color: blueviolet;
    padding-bottom: 73px;

}
#imag{
    float: right;
    width: 70%;
    background-color: blue;
    padding-left: 20%;
}
#featured{
    text-align: center;
}
.out{
    position: sticky;
}
.last{
    background-color: black;
    color: white;
}
#t1{
    float: left;
    width: 25%;
    background-color: black;
    color: white;
    
}
#t2{
    float: left;
    width: 25%;
    background-color: black;
    color: white;
    padding-bottom: 144px;
}#t3{
    float: left;
    width: 25%;
    background-color: black;
    color: white;
    padding-bottom: 120px;
}#t4{
    float: left;
    width: 25%;
    background-color: black;
    color: white;
    padding-bottom: 276px;
}
#sub{
    background-color: burlywood;
    color: white;
}
#h1{
    text-align: center;
    
}

.mid{

    
    display: flex;
    width: 100%;
    border: 5px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200vh;

}

.items{

    position: relative; 
    width: 33.33%;
    border: 2px solid black;
    height: 100vh;

}

.bg-1{
    position: absolute;
    background-image: url("./images/image1.jpeg");
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -99;

}

.txt-1{
    position: absolute;
    height: 40%;
    width: 100%;
    z-index: 100;
    background-color: rgba(8, 8, 8, 0.589);
    bottom: 0px;

}

