extends layout 

block content 
    .mid
        .items
            .bgS-1
            .txt-1
                p  TVAL-HAIR SERUM AND HAIR MIST
                    h3 RS 2750 RS
                    button ADD TO CART